<ng-container *ngIf="date$ | async | date: 'hh:mm:ss'; let formattedTime">
  <p-card>
    <ng-template pTemplate="header">
      <p-avatar label="{{event}}{{race}}"></p-avatar>
      &nbsp;
      <span class="p-card-title">{{formattedTime}}</span>
      <p-button
        (onClick)="remove.emit($event)"
        icon="pi pi-times"
        styleClass="p-button-rounded p-button-danger p-button-text"
        class="delete-btn"
      ></p-button>
    </ng-template>

    <div class="range">
      <p-chip label="{{ from$ | async | date: 'mm:ss' }}"></p-chip>
      <p-chip label="{{ to$ | async | date: 'mm:ss' }}"></p-chip>
    </div>
  </p-card>
</ng-container>
<br>
